$btnShadow:       0 10px 14px -8px rgba(59,80,100,.08);
$btnShadow2:      0 10px 14px -8px rgba(59,80,100,.22);
$btnShadow3:      0 10px 14px -8px rgba(59,80,100,.29);

.Btn {
	width: auto;
	max-width: 100%;
	padding: 9px 18px;
	display: inline-block;
	// border: 1px solid #e9e9e9;
	border: 1px solid var(--border);
	appearance: none;
	background-position: 50%;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-image: none;
	background-color: var(--inverse);
	border-radius: $borderRadius;
	color: var(--major);
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0;
	text-decoration: none;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	transition:
		background-color $duration,
		border-color $duration,
		color $duration,
		box-shadow $duration,
		transform $duration--sm;
	box-shadow: $btnShadow;
}

.Btn:hover {
	border-color: $brand;
	background-color: #e9e9e9;
	box-shadow: $btnShadow;

	@include mediaUp(md) {
		/* box-shadow: 0 1px 2px rgba(0,0,0,.07); */
	}
}

.Btn:active {

	@include mediaUp(md) {
		box-shadow: none !important;
		transform: none;
		transform: translateY(1px);
	}
}

// button:focus,
.Btn:focus {
	outline: none;
	box-shadow:
		0 6px 15px 0 rgba(50,50,93,.2),
		0 2px 2px 0 rgba(0,0,0,.1),
		0 0 0 4px rgba(50,151,211,.3);
}

// [data-theme="dark"] button:focus,
[data-theme="dark"] .Btn:focus {
	box-shadow:
		0 6px 15px 0 rgba(50,50,93,.3),
		0 2px 2px 0 rgba(0,0,0,.2),
		0 0 0 4px rgba(100,201,255,.6);
}

.Btn .Icon {
	fill: currentColor;
}

.Btn--intense {
	background-color: var(--intense);
	border-color: transparent;
	color: var(--inverse);
	box-shadow: $btnShadow3;
}

.Btn--intense:hover {
	background-color: lighten(black, 20);
	border-color: transparent;
	box-shadow: $btnShadow3;
}

[data-theme="dark"] .Btn--intense:hover {
	background-color: darken($whiteDark, 14);
}

.Btn--brand {
	background-color: var(--brand);
	border-color: transparent;
	color: var(--inverse);
	box-shadow: $btnShadow2;
}

[data-theme="dark"] .Btn--brand {
	color: var(--major);
}

.Btn--brand:hover {
	background-color: lighten($brand, 9);
	border-color: transparent;
	box-shadow: $btnShadow2;
}

.Btn--voice {
	background-color: var(--voice);
	border-color: transparent;
	color: var(--inverse);
	box-shadow: $btnShadow2;
}

.Btn--voice:hover {
	background-color: lighten($voice, 9);
	border-color: transparent;
	box-shadow: $btnShadow2;
}

.Btn--mutedToBrand {
	color: var(--muted);
}

.Btn--mutedToBrand:hover {
	color: var(--brand);
}

.Btn--mutedToIntense {
	color: var(--muted);
}

.Btn--mutedToIntense:hover {
	color: var(--intense);
}

.Btn--mutedToSuccess {
	color: var(--muted);
}

.Btn--mutedToSuccess:hover {
	color: var(--success);
	border-color: var(--success);
}

.Btn--mutedToDefault {
	color: var(--muted);
}

.Btn--mutedToDefault:hover {
	color: var(--major);
	border-color: var(--brand);
}

.Btn--minorToDefault {
	color: var(--minor);
}

.Btn--minorToDefault:hover {
	color: var(--major);
	border-color: var(--brand);
}

.Btn--mutedToDanger {
	color: var(--muted);
}

.Btn--mutedToDanger:hover {
	color: var(--danger);
	border-color: var(--danger);
}

.Btn--plane {
	border-color: transparent;
}

.Btn--planeLight {
	border-color: transparent;
	background-color: var(--grayLight);
	color: var(--white);
}

.Btn--planeLight:hover {
	border-color: transparent;
	background-color: var(--gray);
}

.Btn--xs {
	padding: 4px 16px;
	font-size: 13px;
	line-height: 1.25;
}

.Btn--sm {
	padding: 6px 16px;
	font-size: 13px;
	line-height: 1.25;
}

.Btn--lg {
	padding: 11px 15px;
	font-size: 15px;
	line-height: 1.25;
}

.Btn--xl {
	padding: 13px 15px;
	font-size: 16px;
	line-height: 1.25;
}

.Btn--complex {
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	align-items: center;
}

.Btn--nude {
	padding: 0 !important;
	border-width: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

.Btn--nude:hover {
	color: $brand;
}

.Btn--nudeLight {
	padding: 0 !important;
	border-width: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border-color: transparent;
	color: $grayLight;
}

.Btn--nudeLight:hover {
	border-color: transparent;
	color: $gray;
}

.Btn--low {
	padding-top: 7px;
	padding-bottom: 7px;
}

.Btn--money {

	@include mediaDown(md) {
		font-weight: bold;
		border-radius: 1px;
		padding: 3px 5px 1px;
	}

	@include mediaUp(md) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
