:root {
	--code-string:       #f5f0a0;
	// --code-bg:           #343f52;
	// --code-bg:           #2a212F;
	// --code-bg:           #403c4F;
    --code-bg:           #302c3F;
	// --code-bg:           #343F52;
	--code-fore:         #fff;
	--code-tag:          #62c8f3;
    --code-comment:      #77777f;
}

code {
    font-family: $fontMono;
    border-radius: 3px;
    color: #eb5a46;
    padding: 2px 3px;
    margin: -1px 2px;
    font-size: 15px;
    line-height: inherit;
    color: #e83e8c;
    word-wrap: break-word;
    background-color: #f0f0f4;
}

pre {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    background-color: #f0f0f4;
    border-radius: 6px;
    margin: 12px 0;
    padding: 10px 12px;
    word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    tab-size: 4;
    font-family: $fontMono;
    font-size: 14px;
    line-height: 1.2;
}

pre code {
    background-color: none;
    border-radius: 3px;
    box-shadow: none;
    color: #172b4d;
    margin: 0;
    padding: 0;
    color: #e83e8c;
    font-size: inherit;
}


    pre {
        padding: 0;
        background-color: transparent;
    }

    pre code {
        background-color: transparent;
        padding: 24px 26px !important;
    }

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background-color: #333;
	background-color: var(--code-bg);
    color: #fff;
    color: var(--code-fore);
}
.hljs-name,
.hljs-strong {
    font-weight: 700
}
.hljs-code,
.hljs-emphasis {
    font-style: italic
}
.hljs-tag {
    color: #62c8f3;
    color: var(--code-tag);
}
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-variable,
.hljs-variable {
    color: #ade5fc
}
.hljs-bullet,
.hljs-string {
    color: #a2fca2;
    color: var(--code-string);
}
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-title,
.hljs-type {
    color: #ffa
}
.hljs-bullet,
.hljs-number,
.hljs-symbol {
    color: #d36363
}
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
    color: #fcc28c
}
.hljs-code,
.hljs-comment,
.hljs-deletion {
    // color: #888;
    color: var(--code-comment);
    font-style: italic;
}
.hljs-link,
.hljs-regexp {
    color: #c6b4f0
}
.hljs-meta {
    color: #fc9b9b
}
.hljs-deletion {
    background-color: #fc9b9b;
    color: #333
}
.hljs-addition {
    background-color: #a2fca2;
    color: #333
}
.hljs a {
    color: inherit
}
.hljs a:focus,
.hljs a:hover {
    color: inherit;
    text-decoration: underline
}
