body {
	background-color: var(--bg);
}

.SiteWrap  {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
}

.Main {
	padding-top: 20px;
	padding-bottom: 40px;
	word-break: break-word;

	@include mediaUp(md) {
		padding-bottom: 70px;
	}
}

.Container {
	max-width: var(--containerMax);
	padding-left: var(--sidePadding);
	padding-right: var(--sidePadding);
	margin-left: auto;
	margin-right: auto;
}

.Container--main {
	margin-top: 10px;

	@include mediaUp(md) {
		margin-top: 37px;
	}
}

hr, .Hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 0;
	border-width: 1px 0 0;
	border-top: 1px solid var(--border);
}

.Hr--beyond {
	margin-left: -30px;
	margin-right: -30px;
}

body.g-noScroll {
	touch-action: none;
	overflow: hidden;
}
