.SiteHeaderOrigin {
	height: 60px;
}

.SiteHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	box-shadow: 0 0 10px rgba(0,0,4,.23);
	box-shadow: 0 6px 15px -8px rgba(0,0,0,.23);
	z-index: 50;
	background-color: var(--bg);
	/* background-color: rgba(255,255,255,.85); */
	/* backdrop-filter: blur(6px); */
	cursor: default;
}

[data-theme="dark"] .SiteHeader {
	box-shadow: 0 8px 20px -8px rgba(0,0,0,.6);
}

.SiteHeader__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--intense);
	z-index: 75;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity $duration--lg,
		visibility 0s linear $duration--lg;
	pointer-events: none;
	will-change: opacity;
}

.SiteHeader__overlay.is-shown {
	visibility: visible;
	opacity: .2;
	transition: opacity $duration--lg;
}

[data-theme="dark"] .SiteHeader__overlay.is-shown {
	opacity: .1;
}

.SiteHeader__grid {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.SiteLogo {
	@include linkReset;
	display: block;
	width: 58px;
	margin-top: -2px;
	flex-shrink: 0;

	@include mediaUp(md) {
		width: 67px;
	}
}

.SiteLogo img,
.SiteLogo svg {
	display: block;
	width: 100%;
}

.SiteLogo svg {
	fill: var(--intense);
	width: 100%;
	max-width: 100%;
	height: auto;
	cursor: pointer;
	transition: fill $duration--sm;
}

.SiteLogo:hover svg {
	fill: var(--brand);
}
