// Custom properties
// ---------------------
:root {
	// Text
	--fontMain:             #{$fontMain};
	--fontSize:             #{$fontSize};
	--lineHeight:           #{$lineHeight};

	// Color
	--brand:                #{$brand};
	--voice:                #{$voice};
	--voiceLightest:        #{$voiceLightest};
	--success:              #{$success};
	--successLight:         #{$successLight};
	--danger:               #{$danger};
	--intense:              #{$intense};
	--major:                #{$major};
	--minor:                #{$minor};
	--muted:                #{$muted};
	--mutedLight:           #{$mutedLight};
	--mutedLightest:        #{$mutedLightest};
	--disabled:             #{$disabled};
	--inverse:              #{$inverse};
	--bg:                   #{$bg};
	--bgAlter:              #{$bgAlter};
	--border:               #{$border};

	// Dimensions
	--containerMax:         1150px;
	--sidePadding:          16px;

	@media (min-width: $sm) {
		--sidePadding:          20px;
	}

	@media (min-width: $md) {
		--sidePadding:          20px;
	}

	// Shape
	// --borderRadius:         #{$borderRadius};
}

[data-theme="dark"] {
	// $grayDarkest: 			lighten($grayDarkest, 10);
	// $brand:                 ;
	$voice:                 $blueLight;
	$voiceLightest:         $blueLightest;
	// $success:                 ;
	// $successLight:                 ;
	$danger:                #eb3a3f;
	$intense:               $white;
	$intense:               $whiteDark;
	$major:                 $white;
	$major:                 $whiteDark;
	$minor:                 $grayLightest;
	$muted:                 $gray;
	$mutedLight:            $gray;
	// $mutedLightest:         rgba(255,255,255,.1);
	$mutedLightest:         #393c44;
	$disabled:              $grayLight;
	$inverse:               $grayDarkest;
	$bg:                    $grayDarkest;
	$bg:                    #1b1e27; //$grayDarkest;
	$bg:                    #22252e; //$grayDarkest;
	$bgAlter:               $grayDark;
	$border:                $grayDark;

	// Color
	--brand:                #{$brand};
	--voice:                #{$voice};
	--voiceLightest:        #{$voiceLightest};
	--success:              #{$success};
	--successLight:         #{$successLight};
	--danger:               #{$danger};
	--intense:              #{$intense};
	--major:                #{$major};
	--minor:                #{$minor};
	--muted:                #{$muted};
	--mutedLight:           #{$mutedLight};
	--mutedLightest:        #{$mutedLightest};
	--disabled:             #{$disabled};
	--inverse:              #{$inverse};
	--bg:                   #{$bg};
	--bgAlter:              #{$bgAlter};
	--border:               #{$border};
}
