.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gridGutter / 2;
	margin-left: -$gridGutter / 2;
}

.col,
.col-auto {
	@include makeColumnReady;
}

@for $i from 1 through $gridColumns {
	.col-#{$i} {
		@include makeColumnReady;
	}
}

.col {
	@include makeColumnBasic;
}

.col-auto {
	@include makeColumnAuto;
}

@for $i from 1 through $gridColumns {
	.col-#{$i} {
		@include makeColumn($i);
	}
}

@include mediaUp(sm) {
	.sm\:col {
		@include makeColumnBasic;
	}
	.sm\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.sm\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(md) {
	.md\:col {
		@include makeColumnBasic;
	}
	.md\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.md\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(lg) {
	.lg\:col {
		@include makeColumnBasic;
	}
	.lg\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.lg\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(xl) {
	.xl\:col {
		@include makeColumnBasic;
	}
	.xl\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $gridColumns {
		.xl\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
	min-width: 100%;

	> * {
		padding-right: 0;
		padding-left: 0;
	}
}

.row.gutter-xxs {
	/* min-width: calc(100% + #{$gridGutter--xxs}); */
	margin-left: - $gridGutter--xxs / 2;
	margin-right: - $gridGutter--xxs / 2;

	>* {
		padding-right: $gridGutter--xxs / 2;
		padding-left: $gridGutter--xxs / 2;
	}
}

.row.gutter-xs {
	/* min-width: calc(100% + #{$gridGutter--xs}); */
	margin-left: - $gridGutter--xs / 2;
	margin-right: - $gridGutter--xs / 2;

	>* {
		padding-right: $gridGutter--xs / 2;
		padding-left: $gridGutter--xs / 2;
	}
}

.row.gutter-sm {
	/* min-width: calc(100% + #{$gridGutter--xs}); */
	margin-left: - $gridGutter--sm / 2;
	margin-right: - $gridGutter--sm / 2;

	>* {
		padding-right: $gridGutter--sm / 2;
		padding-left: $gridGutter--sm / 2;
	}
}

.grid > .row {
	margin-top: -$gridGutter / 2;
	margin-bottom: -$gridGutter / 2;
}

.grid > .row > * {
	padding-top: $gridGutter / 2;
	padding-bottom: $gridGutter / 2;
}

.grid > .row.gutter-sm {
	margin-top: -$gridGutter--sm / 2;
	margin-bottom: -$gridGutter--sm / 2;
}

.grid > .row.gutter-sm > * {
	padding-top: $gridGutter--sm / 2;
	padding-bottom: $gridGutter--sm / 2;
}

.grid > .row.gutter-xs {
	margin-top: -$gridGutter--xs / 2;
	margin-bottom: -$gridGutter--xs / 2;
}

.grid > .row.gutter-xs > * {
	padding-top: $gridGutter--xs / 2;
	padding-bottom: $gridGutter--xs / 2;
}

.grid > .row.gutter-xxs {
	margin-top: -$gridGutter--xxs / 2;
	margin-bottom: -$gridGutter--xxs / 2;
}

.grid > .row.gutter-xxs > * {
	padding-top: $gridGutter--xxs / 2;
	padding-bottom: $gridGutter--xxs / 2;
}

// Custom
@include mediaUp(lg) {
	.col--main {
		max-width: calc(100% - 330px);
	}

	.row.gutter-sm > .col--main {
		max-width: calc(100% - 320px);
	}
}

@include mediaUp(xl) {
	.col--main {
		// max-width: 860px;
		max-width: 810px;
	}
}

.col--right {
	flex: 0 0 auto !important;
    width: auto !important;
	max-width: calc(300px + 30px);
}

.row.gutter-sm > .col--main {
	max-width: calc(300px + 20px);
}