body {
	color: var(--major);
	font-family: var(--fontMain);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

a {
	@include linkReset;
	color: var(--voice);
	border-bottom: 1px solid currentColor;
	transition:
		color $duration--sm,
		border-color $duration--sm,
		background-color $duration--sm,
		box-shadow $duration--sm;
}

a:hover {
	border-bottom-color: transparent;
}

// a:focus {
// 	outline: none;
// 	box-shadow: 0 0 2px 3px rgba(50,151,211,.3);
// }

// [data-theme="dark"] a:focus {
// 	box-shadow:
// 		0 0 0 3px rgba(100,201,255,.6)
// }

p {
	max-width: 750px;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	@include marginFirstLast;

	@include mediaUp(md) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@include marginFirstLast;
	margin-top: 2.2rem;
	margin-bottom: 1rem;
	color: var(--major);
	line-height: 1.2;
	font-weight: bold;

	@include mediaUp(md) {
		margin-top: 2.2rem;
		margin-bottom: 1rem;
	}
}

h1, .h1 {
	font-size: 24px;
	line-height: 1.2;

	@include mediaUp(md) {
		font-size: 36px;
		line-height: 1.05;
	}
}

h2, .h2 {
	margin-top: 2.5rem;
	font-size: 22px;

	@include mediaUp(md) {
		font-size: 30px;
	}
}

h3, .h3 {
	margin-top: 1.5rem;
	font-size: 20px;

	@include mediaUp(md) {
		font-size: 24px;
	}
}

h4, .h4 {
	margin-top: 1.2rem;
	font-size: 20px;
}

h5, .h5 {
	font-size: 18px;
}

h6, .h6 {
	font-size: 16px;
}

code {
	font-family: $fontMono;
	border-radius: 3px;
	color: #eb5a46;
	padding: 2px 3px;
	margin: -1px 2px;
	font-size: 15px;
	line-height: inherit;
	color: #e83e8c;
	word-wrap: break-word;
	background-color: #f0f0f4;
}

pre {
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	background-color: #f0f0f4;
	border-radius: 6px;
	margin: 12px 0;
	padding: 10px 12px;
	word-break: normal;
	word-wrap: normal;
	overflow-wrap: normal;
	tab-size: 4;
	font-family: $fontMono;
	font-size: 14px;
	line-height: 1.2;
}

pre code {
	background-color: none;
	border-radius: 3px;
	box-shadow: none;
	color: #172b4d;
	margin: 0;
	padding: 0;
	color: #e83e8c;
}


	pre {
		padding: 0;
		background-color: transparent;
	}

	pre code {
		background-color: transparent;
		padding: 24px 26px !important;
	}

ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 0;
	@include marginFirstLast;
	list-style-type: none;
}

ul > li {
	max-width: 778px;
	position: relative;
	margin-top: .5rem;
	margin-left: 0;
	padding-left: 18px;

	@include mediaUp(md) {
		padding-left: 22px;
	}
}

ul > li:before {
	@include pseudoBlock(7px, 7px);
	top: .55rem;
	left: 2px;
	background-color: $brand;
	border-radius: 8px;
}

ul > li:first-child {
	margin-top: 0;
}

ul > li > ul:first-child {
	margin-top: 5px;
}

ul ul {
	margin-top: 5px;
}

blockquote {
	border-left: 6px solid $brand;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 0;
	color: var(--intense);
	font-weight: 500;

	@include mediaUp(md) {
		max-width: 750px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 30px;
	}
}

.ListNoMark {
	@include listReset;

	> li + li {
		margin-top: 6px;
	}
}

.ListNoMark--spread > li + li {
	margin-top: 10px;
}

sup {
	font-size: .6em;
	vertical-align: 0;
    position: relative;
    top: -0.5em;
}

.Lead {
	font-size: 18px;
	line-height: 135%;

	@include mediaUp(md) {
		font-size: 20px;
		line-height: 140%;
	}
}
