.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-inlineBlock {
	display: inline-block !important;
}

.d-inline {
	display: inline !important;
}

.d-flex {
	display: flex !important;
}

@include mediaUp(sm) {
	.sm\:d-none {
		display: none !important;
	}

	.sm\:d-block {
		display: block !important;
	}

	.sm\:d-inlineBlock {
		display: inline-block !important;
	}

	.sm\:d-inline {
		display: inline !important;
	}

	.sm\:d-flex {
		display: flex !important;
	}
}

@include mediaUp(md) {
	.md\:d-none {
		display: none !important;
	}

	.md\:d-block {
		display: block !important;
	}

	.md\:d-inlineBlock {
		display: inline-block !important;
	}

	.md\:d-inline {
		display: inline !important;
	}

	.md\:d-flex {
		display: flex !important;
	}
}

@include mediaUp(lg) {
	.lg\:d-none {
		display: none !important;
	}

	.lg\:d-block {
		display: block !important;
	}

	.lg\:d-inlineBlock {
		display: inline-block !important;
	}

	.lg\:d-inline {
		display: inline !important;
	}

	.lg\:d-flex {
		display: flex !important;
	}
}

@include mediaUp(xl) {
	.xl\:d-none {
		display: none !important;
	}

	.xl\:d-block {
		display: block !important;
	}

	.xl\:d-inlineBlock {
		display: inline-block !important;
	}

	.xl\:d-inline {
		display: inline !important;
	}

	.xl\:d-flex {
		display: flex !important;
	}
}

.justify-start {
	justify-content: flex-start !important;
}

.justify-end {
	justify-content: flex-end !important;
}

.justify-center {
	justify-content: center !important;
}

.justify-between {
	justify-content: space-between !important;
}

.justify-around {
	justify-content: space-around !important;
}

@include mediaUp(sm) {
	.sm\:justify-start {
		justify-content: flex-start !important;
	}

	.sm\:justify-end {
		justify-content: flex-end !important;
	}

	.sm\:justify-center {
		justify-content: center !important;
	}

	.sm\:justify-between {
		justify-content: space-between !important;
	}
}

@include mediaUp(md) {
	.md\:justify-start {
		justify-content: flex-start !important;
	}

	.md\:justify-end {
		justify-content: flex-end !important;
	}

	.md\:justify-center {
		justify-content: center !important;
	}

	.md\:justify-between {
		justify-content: space-between !important;
	}
}

@include mediaUp(lg) {
	.lg\:justify-start {
		justify-content: flex-start !important;
	}

	.lg\:justify-end {
		justify-content: flex-end !important;
	}

	.lg\:justify-center {
		justify-content: center !important;
	}

	.lg\:justify-between {
		justify-content: space-between !important;
	}
}

@include mediaUp(xl) {
	.xl\:justify-start {
		justify-content: flex-start !important;
	}

	.xl\:justify-end {
		justify-content: flex-end !important;
	}

	.xl\:justify-center {
		justify-content: center !important;
	}

	.xl\:justify-between {
		justify-content: space-between !important;
	}
}

.align-start {
	align-items: flex-start !important;
}

.align-end {
	align-items: flex-end !important;
}

.align-center {
	align-items: center !important;
}

.align-stretch {
	align-items: stretch !important;
}

.align-baseline {
	align-items: baseline !important;
}

@include mediaUp(sm) {
	.sm\:align-start {
		align-items: flex-start !important;
	}

	.sm\:align-end {
		align-items: flex-end !important;
	}

	.sm\:align-center {
		align-items: center !important;
	}

	.sm\:align-stretch {
		align-items: stretch !important;
	}
}

@include mediaUp(md) {
	.md\:align-start {
		align-items: flex-start !important;
	}

	.md\:align-end {
		align-items: flex-end !important;
	}

	.md\:align-center {
		align-items: center !important;
	}

	.md\:align-stretch {
		align-items: stretch !important;
	}
}

@include mediaUp(lg) {
	.lg\:align-start {
		align-items: flex-start !important;
	}

	.lg\:align-end {
		align-items: flex-end !important;
	}

	.lg\:align-center {
		align-items: center !important;
	}

	.lg\:align-stretch {
		align-items: stretch !important;
	}
}

@include mediaUp(xl) {
	.xl\:align-start {
		align-items: flex-start !important;
	}

	.xl\:align-end {
		align-items: flex-end !important;
	}

	.xl\:align-center {
		align-items: center !important;
	}

	.xl\:align-stretch {
		align-items: stretch !important;
	}
}


/* Align self */

.align-self-start {
	align-self: flex-start !important;
}

.align-self-center {
	align-self: center !important;
}

.align-self-end {
	align-self: flex-end !important;
}

.align-self-baseline {
	align-self: baseline !important;
}


/* Wrap */
.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-nowrap {
	flex-wrap: nowrap !important;
}


// Direction
.flex-column {
	flex-direction: column !important;
}

.flex-row {
	flex-direction: row !important;
}


/* Transform */

.rotate-90 {
	transform: rotate(90deg) !important;
}

.rotate-180 {
	transform: rotate(180deg) !important;
}

.rotate-270 {
	transform: rotate(270deg) !important;
}


/* Rectangle size */

.rect-8 {
	width: 8px !important;
	height: 8px !important;
}

.rect-10 {
	width: 10px !important;
	height: 10px !important;
}

.rect-12 {
	width: 12px !important;
	height: 12px !important;
}

.rect-12-16 {
	width: 12px !important;
	height: 16px !important;
}

.rect-13 {
	width: 13px !important;
	height: 13px !important;
}

.rect-14 {
	width: 14px !important;
	height: 14px !important;
}

.rect-14-10 {
	width: 14px !important;
	height: 10px !important;
}

.rect-16 {
	width: 16px !important;
	height: 16px !important;
}

.rect-18 {
	width: 18px !important;
	height: 18px !important;
}

.rect-20 {
	width: 20px !important;
	height: 20px !important;
}

.rect-22 {
	width: 22px !important;
	height: 22px !important;
}

.rect-24 {
	width: 24px !important;
	height: 24px !important;
}

.rect-24-20 {
	width: 24px !important;
	height: 20px !important;
}

.rect-26 {
	width: 26px !important;
	height: 26px !important;
}

.rect-28-30 {
	width: 28px !important;
	height: 30px !important;
}

.rect-36-14 {
	width: 36px !important;
	height: 14px !important;
}

.rect-38 {
	width: 38px !important;
	height: 38px !important;
}

.rect-40-16 {
	width: 40px !important;
	height: 16px !important;
}


/* Shape */

.round,
.rounded {
	border-radius: 100px !important;
}

/* Visibility, reach, etc. */

.visually-hidden {
	@include visuallyHidden;
}


.shift-up-1 {
	margin-top: -1px !important;
}

.shift-up-2 {
	margin-top: -2px !important;
}

.shift-up-3 {
	margin-top: -3px !important;
}

.shift-down-1 {
	margin-top: 1px !important;
}

.shift-down-2 {
	margin-top: 2px !important;
}

.shift-down-3 {
	margin-top: 3px !important;
}


/* Cursor */

.cursor-default {
	cursor: default;
}
