.u-fit {
	width: 100%;
	display: block;
}

.u-sm-fit {
	@include mediaDown(md) {
		box-sizing: border-box;
		width: 100% !important;
		display: block !important;
	}
}

.u-expandLinkArea {
	position: relative;
}

.u-expandLinkArea > a:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/* Form */

.u-formInputStick {
	display: flex;
}

.u-formInputStick > * {
	margin-left: -1px;
	border-radius: 0;
}

.u-formInputStick > *:first-child {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.u-formInputStick > *:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.u-listReset {
	@include listReset(true);
}
